.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80vh; /* Reduced from 100vh */
  min-height: fit-content;
  background-color: #1f2235;
  position: relative;
  padding-top: 80px; /* Account for fixed navbar */
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 32px; /* Increased from 24px */
  font-family: "Poppins SemiBold";
  margin: 10px 0;
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
  align-items: center; /* Center the role content */
}
.profile-details-role h1.typewriter-header {
  font-size: 55px;
  font-family: "cursive";
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5823;
  width: 100%;
  max-width: 600px; /* Constrain width to prevent layout shifts */
  margin: 0 auto;
}

.Typewriter__wrapper {
  display: inline-block;
}

/* Customizing the typewriter cursor to be very thin and non-obtrusive */
.Typewriter__cursor {
  color: white;
  font-weight: 100;
  margin-left: 2px;
}
.primary-text {
  color: white;
}
.highlighted-text {
  color: #ff5823;
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
  max-width: 800px; /* Increased width */
  width: 100%;
  line-height: 1.5;
}

.profile-options .primary-btn {
  background-color: #ff5823;
  color: white;
  border: 2px solid #ff5823;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.profile-options .primary-btn:hover {
  background-color: transparent;
  color: #ff5823;
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.profile-options .highlighted-btn:hover {
  background-color: white;
  color: #111;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px white;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-color: #333;
  background-image: url("/profile.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media only screen and (max-width: 910px) {
  .profile-picture {
    margin: 0 0 0 4px;
    height: 320px;
    width: 320px;
  }
}
@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-details {
    width: 95%;
  }
}
